h2{
    font-family:monospace;
    text-align: center;
    font-size: 22px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#videoElement{
    padding: 0%;
    width: 720px;
    height: auto;
    background-color: lightgrey;
    border: 7px solid green;
}